ERPManagementOfLoadImportBiz/SOA/Schemas/FndInterfaceControl.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://soa.estrellaroja.com.mx/ERPManagementOfLoadImportBiz/FndInterfaceControl" targetNamespace="http://soa.estrellaroja.com.mx/ERPManagementOfLoadImportBiz/FndInterfaceControl" elementFormDefault="qualified">
   <xsd:element name="DATA_DS">
      <xsd:annotation>
         <xsd:documentation>Generated by Oracle BI Publisher 11.1.1.9.0 -Dataengine, datamodel:_Custom_ER_INTEGRATION_Commons_Data_Models_XXER_FND_INTERFACE_CONTROL_xdm</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element type="xsd:short" name="P_LOAD_REQUEST_ID"/>
            <xsd:element type="xsd:string" name="P_TYPE_INTERFACES"/>
            <xsd:element type="xsd:string" name="P_BATCH_ID"/>
            <xsd:element name="G_HEADER" maxOccurs="unbounded" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element type="xsd:string" name="STATUS"/>
                     <xsd:element type="xsd:string" name="INTERFACETYPE"/>
                     <xsd:element type="xsd:byte" name="BATCHID"/>
                     <xsd:element type="xsd:long" name="HEADERID"/>
                     <xsd:element type="xsd:long" name="LINEID"/>
                     <xsd:element type="xsd:string" name="ERRORMSG"/>
                     <xsd:element type="xsd:string" name="DATAVALUE"/>
                     <xsd:element type="xsd:short" name="LOADREQUESTID"/>
                     <xsd:element type="xsd:byte" name="REQUESTID"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
