ConciliationEnt/SOA/Schemas/nxsd_paymentsAmex.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:tns="http://soa.estrellaroja.com.mx/ConciliationEnt/NXSDBankAmexPayments" targetNamespace="http://soa.estrellaroja.com.mx/ConciliationEnt/NXSDBankAmexPayments" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:stream="chars" nxsd:encoding="US-ASCII">


  <xsd:element name="PaymentsAmex">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded" nxsd:choiceCondition="terminated" nxsd:terminatedBy=",">
        <xsd:element name="ADJUSTMENT" nxsd:conditionValue="ADJUSTMENT">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NUM_ESTABLECIMIENTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="CODIGO_TIPO_CUENTA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_PAGO_AMEX" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="FECHA_PAGO" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONEDA_PAGO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_ESTABLECIMIENTO_PRESENTACION" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="FECHA_ENVIO" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="UBICACION_ESTABLECIMIENTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_FACTURA_REFERENCIA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="IDENTIFICACION_VENDEDOR" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_TARJETA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_REFERENCIA_INDUSTRIA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="FECHA_PROCESAMIENTO_AMEX" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_FACTURA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONEDA_PRESENTACION" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_AJUSTE" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="CODIGO_MOTIVO_AJUSTE" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="DESCRIPCION_MOTIVO_AJUSTE" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_BRUTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_DESCUENTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_CARGO_SERVICIO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_IMPUESTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_NETO" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="TASA_DESCUENTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="TASA_CARGO_SERVICIO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="CODIGO_LOTE" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy=","  nxsd:quotedBy="&quot;"/>
              <xsd:element name="CODIGO_FACTURA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}" nxsd:quotedBy="&quot;"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="HEADER" nxsd:conditionValue="HEADER">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="FECHA_CREACION_ARCHIVO" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="HORA_CREACION_ARCHIVO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_SECUENCIAL" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="IDENTIDIACION_ARCHIVO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NOMBRE_ARCHIVO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_VERSION_ARCHIVO" type="xsd:decimal" nxsd:style="terminated" nxsd:terminatedBy="${eol}" nxsd:quotedBy="&quot;"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="CHARGEBACK" nxsd:conditionValue="CHARGEBACK">
          <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="NUM_ESTABLECIMIENTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="CODIGO_TIPO_CUENTA_" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="NUM_PAGO_AMERICAN_EXPRESS" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="FECHA_PAGO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="MONEDA_PAGO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="NUM_ESTABLECIMIENTO_PRESENTACION" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="FECHA_PRESENTACION" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="UBICACION_ESTABLECIMIENTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="NUM_FACTURA_O_REFERENCIA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="IDENTIFICACION_VENDEDOR" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="NUM_TARJETA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="NUM_REFERENCIA_INDUSTRIA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="FECHA_PROCESAMIENTO_AMERICAN_EXPRESS" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="NUM_FACTURA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="MONEDA_PRESENTACION" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="NUM_CONTRACARGO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="CODIGO_MOTIVO_CONTRACARGO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="DESCRIPCION_MOTIVO_CONTRACARGO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="MONTO_BRUTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="MONTO_DESCUENTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="MONTO_CARGO_SERVICIO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="MONTO_IMPUESTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="MONTO_NETO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="TASA_DESCUENTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="TASA_CARGO_SERVICIO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="CODIGO_LOTE" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
<xsd:element name="CODIGO_FACTURA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}" nxsd:quotedBy="&quot;"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SUBMISSION" nxsd:conditionValue="SUBMISSION">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NUM_ESTABLECIMIENTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="CODIGO_TIPO_CUENTA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_PAGO_AMEX" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="FECHA_PAGO" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONEDA_PAGO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_ESTABLECIMIENTO_PRESENTION" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="FECHA_ENVIO_COMERCIAL" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="FECHA_PROCESAMIENTO_AMEX" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_FACTURA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONEDA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="RELLENO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="TASA_CAMBIO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_BRUTO_MONEDA_PRESENTACION" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_BRUTO_MONEDA_PAGO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_DESCUENTO_RSENTCION" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_CARGO_SERVICIO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_IMPUESTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_NETO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="TASA_DESCUENTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="TASA_IMPUESTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="SUMA_TRANSACCIONES" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="IDENTIFICACION_SEGUIMIENTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_CUOTA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_ACELERACION" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="FECHA_LIQUIDACION_ORIGINAL" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="FECHA_ACELERACION" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="CANTIDAD_DIAS_ADELANTADOS" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_CARGO_ACELERACION" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_NETO_CARGO_ACELERACION" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_BRUTO_DEBITO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_BRUTO_CREDITO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}" nxsd:quotedBy="&quot;"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="SUMMARY" nxsd:conditionValue="SUMMARY">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="IDENTIFICACION_ESTABLECIMIENTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="CODIGO_TIPO_CUENTA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_PAGO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="FECHA_PAGO" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONEDA_PAGO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_UNICO_REFERENCIA_PAGO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_NETO_PAGO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_BRUTO_PAGO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_DESCUENTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_SERVICIO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_AJUSTE" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_IMPUESTOS" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_SALDO_DEBITO_INICIAL" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_DEPOSITO_DIRECTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_CUENTA_BANCARIA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_CUENTA_BANCARIA_INTERNACIONAL" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="CODIGO_BANCO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}" nxsd:quotedBy="&quot;"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TRAILER" nxsd:conditionValue="TRAILER">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NUM_SECUENCIAL" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="SUMA_TOTAL_REGISTROS" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}" nxsd:quotedBy="&quot;"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TRANSACTN" nxsd:conditionValue="TRANSACTN">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NUM_ESTABLECIMIENTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="CODIGO_TIPO_CUENTA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_PAGO_AMEX" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="FECHA_PAGO" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONEDA_PAGO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_ESTABLECIMIENTO2" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="FECHA_PRESENTACION" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="FECHA_PROCESAMIENTO_AMEX" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_FACTURA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONEDA_PRESENTACION" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="IDENTIFICACION_UBICACION_ESTABLECIMIENTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_FACTURA_REFERENCIA" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_VENDEDOR" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_TARJETA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_REFERENCIA_ESPECIFICO_INDUSTRIA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_BRUTO_PRESENTACION" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_TRANSACCION" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="FECHA_TRANSACCION" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="HORA_TRANSACCION" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_TRANSACCION" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="CODIGO_APROBACION" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_TERMINAL" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="CODIGO_CATEGORIA_ESTABLECIMIENTO" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_REFERENCIA_SOCIO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_REFERENCIA_ADQUIRENTE" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="CODIGO_ERROR_INCUMPLIMIENTO_CALIDAD_DATOS" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="CODIGO_ERROR_INCUMPLIMIENTO_CALIDAD_DATOS1" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="CODIGO_ERROR_INCUMPLIMIENTO_CALIDAD_DATOS2" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="CODIGO_ERROR_INCUMPLIMIENTO_CALIDAD_DATOS3" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="CODIGO_ERROR_INCUMPLIMIENTO_CALIDAD_DATOS4" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="INDICADOR_LECTURA_BANDA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="INDICADOR_TRANSACCION_RECHAZADA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_PRIMERA_CUOTA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_CUOTA_SIGUIENTE" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="CANTIDAD_CUOTAS" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_CUOTA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="RELLENO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_SERVICIO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_ACELERACION" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}" nxsd:quotedBy="&quot;"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TXNPRICING" nxsd:conditionValue="TXNPRICING">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NUMERO_ESTABLCIMIENTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="CODIGO_CUENTA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_PAGO_AMEX" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="FECHA_PAGO" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONEDA_PAGO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_ESTABLECIMENTO_PRESENTACION" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="UBICACION_ESTABLECIMIENTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="RELLENO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_FACTURA_REFERENCIA" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUMERO_VENDEDOR" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="NUM_TARJETA" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_TRANSACCION" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="FECHA_TRANSACCION" type="xsd:int" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="CODIGO_CARGO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="RELLENO2" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_CARGO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="TASA_DESCUENTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
              <xsd:element name="MONTO_DESCUENTO" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}" nxsd:quotedBy="&quot;"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>

<xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=P:\Desarrollo\JDeveloper\GER\Documentación SOA\Tecnico Forte\ER25_AR_Concilation_Cash_TP\ConciliacionBancos\amex\ESTRELLAROJAMEXA63813.GRRCN.210825033946.P80LHP33944IXH</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>