SFTPEstrellaRojaEnt/SOA/Schemas/BankCodes.xsd

<?xml version='1.0' encoding='windows-1252'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://soa.estrellaroja.com.mx/BankCodes" targetNamespace="http://soa.estrellaroja.com.mx/BankCodes" elementFormDefault="qualified">
   <xsd:complexType name="CodigosListType">
      <xsd:sequence>
         <xsd:element name="Codigo" type="xsd:string" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="CodigoList" type="CodigosListType">
      <xsd:annotation>
         <xsd:documentation>A sample element</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
</xsd:schema>
