SFTPEstrellaRojaEnt/SOA/Schemas/StructureBankDetails.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://soa.estrellaroja.com.mx/SFTPEstrellaRojaEnt/StructureBankDetails" targetNamespace="http://soa.estrellaroja.com.mx/SFTPEstrellaRojaEnt/StructureBankDetails" elementFormDefault="qualified" xmlns:cmn="http://soa.estrellaroja.com.mx/EstrellaRojaCommons">
   <xsd:import schemaLocation="oramds:/apps/Common/XSD/EstrellaRojaCommons.xsd" namespace="http://soa.estrellaroja.com.mx/EstrellaRojaCommons"/>
   <xsd:element name="DATA_DS">
      <xsd:annotation>
         <xsd:documentation>Generated by Oracle BI Publisher 11.1.1.9.0 -Dataengine, datamodel:_Custom_ER_INTEGRATION_ER07_CE_Importacion_estados_de_cuenta_Data_Models_XXER_CE_BANK_DETAILS_xdm</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element type="xsd:long" name="P_BANK_ACCOUNT_NUM"/>
            <xsd:element name="G_1" maxOccurs="unbounded" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element type="xsd:string" name="BANK_ACCOUNT_NAME"/>
                     <xsd:element type="xsd:long" name="BANK_ACCOUNT_NUM"/>
                     <xsd:element type="xsd:long" name="BANK_ACCOUNT_ID"/>
                     <xsd:element type="xsd:string" name="BANK_NAME_ALT"/>
                     <xsd:element type="xsd:string" name="CURRENCY_CODE"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="GetBankDetailsRq" type="GetBankDetailsRqType"/>
   <xsd:element name="GetBankDetailsRs" type="GetBankDetailsRsType"/>
   <xsd:complexType name="GetBankDetailsRqType">
      <xsd:sequence>
         <xsd:element name="AccountNumber" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GetBankDetailsRsType">
      <xsd:complexContent>
         <xsd:extension base="cmn:BaseRsType">
            <xsd:sequence>
               <xsd:element name="Return" type="GetBankDetailsReturnType"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="GetBankDetailsReturnType">
      <xsd:sequence>
         <xsd:element name="BankDetails" type="BankDetailsType"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BankDetailsType">
      <xsd:sequence>
         <xsd:element name="BankName" type="xsd:string"/>
         <xsd:element name="BranchName" type="xsd:string"/>
         <xsd:element name="CurrencyCode" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
