InvoicesBiz/SOA/WSDLs/bpelValidatePaymentComplements.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="bpelValidatePaymentComplements" targetNamespace="http://soa.estrellaroja.com.mx/InvoicesBiz/bpelValidatePaymentComplements" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://soa.estrellaroja.com.mx/InvoicesBiz/bpelValidatePaymentComplements" xmlns:ns1="http://soa.estrellaroja.com.mx/InvoicesBiz" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns2="http://soa.estrellaroja.com.mx/ElectronicInvoiceAP" xmlns:ns3="http://soa.estrellaroja.com.mx/AuditControlTec" xmlns:ns4="http://soa.estrellaroja.com.mx/EstrellaRojaCommons">
   <plnk:partnerLinkType name="bpelValidatePaymentComplements">
      <plnk:role name="bpelValidatePaymentComplementsProvider" portType="client:bpelValidatePaymentComplements"/>
      <plnk:role name="bpelValidatePaymentComplementsRequester" portType="client:bpelValidatePaymentComplementsCallback"/>
   </plnk:partnerLinkType>
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://soa.estrellaroja.com.mx/InvoicesBiz/bpelValidatePaymentComplements" xmlns:ns1="http://soa.estrellaroja.com.mx/InvoicesBiz" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns2="http://soa.estrellaroja.com.mx/ElectronicInvoiceAP" xmlns:ns3="http://soa.estrellaroja.com.mx/AuditControlTec">
         <import namespace="http://soa.estrellaroja.com.mx/InvoicesBiz" schemaLocation="oramds:/apps/SOA/InvoicesBiz/InvoicesBiz.xsd"/>
      </schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://soa.estrellaroja.com.mx/InvoicesBiz/bpelValidatePaymentComplements" xmlns:ns1="http://soa.estrellaroja.com.mx/InvoicesBiz" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns2="http://soa.estrellaroja.com.mx/ElectronicInvoiceAP" xmlns:ns3="http://soa.estrellaroja.com.mx/AuditControlTec">
         <xsd:import namespace="http://soa.estrellaroja.com.mx/ElectronicInvoiceAP" schemaLocation="../Schemas/ElectronicInvoiceAP.xsd"/>
      </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://soa.estrellaroja.com.mx/InvoicesBiz/bpelValidatePaymentComplements" xmlns:ns1="http://soa.estrellaroja.com.mx/InvoicesBiz" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns2="http://soa.estrellaroja.com.mx/ElectronicInvoiceAP" xmlns:ns3="http://soa.estrellaroja.com.mx/AuditControlTec">
         <xsd:import namespace="http://soa.estrellaroja.com.mx/AuditControlTec" schemaLocation="oramds:/apps/OSB/AuditControlTec/AuditControlTec.xsd"/>
      </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://soa.estrellaroja.com.mx/EstrellaRojaCommons" schemaLocation="oramds:/apps/Common/XSD/EstrellaRojaCommons.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="bpelValidatePaymentComplementsRequestMessage">
      <wsdl:part name="payload" element="ns1:ValidatePaymentComplementsRq"/>
   </wsdl:message>
   <wsdl:message name="bpelValidatePaymentComplementsResponseMessage">
      <wsdl:part name="payload" element="ns1:ValidatePaymentComplementsRs"/>
   </wsdl:message>
   <wsdl:portType name="bpelValidatePaymentComplements">
      <wsdl:operation name="ValidatePaymentComplements">
         <wsdl:input message="client:bpelValidatePaymentComplementsRequestMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:portType name="bpelValidatePaymentComplementsCallback">
      <wsdl:operation name="ValidatePaymentComplementsResponse">
         <wsdl:input message="client:bpelValidatePaymentComplementsResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>
