InerInvoicesEnt/SOA/Schemas/LocatePayment.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lp="http://soa.estrellaroja.com.mx/InvoicesEnt/XxerApLocatePayment" targetNamespace="http://soa.estrellaroja.com.mx/InvoicesEnt/XxerApLocatePayment" elementFormDefault="qualified">
   <xsd:element name="DATA_DS">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="P_INVOICE_NUMBER" type="xsd:string"/>
            <xsd:element name="P_INSTALLMENT_NUMBER" type="xsd:integer"/>
            <xsd:element name="PAYMENT_INFO">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="CHECKID" type="xsd:integer"/>
                     <xsd:element name="CHECKNUMBER" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="DATA_DS_INV">
      <xsd:annotation>
         <xsd:documentation>Generated by Oracle BI Publisher 11.1.1.9.0 -Dataengine, datamodel:_Custom_ER_INTEGRATION_ER01_AR_Creacion_de_transacciones_Data_Models_XXER_AR_TRX_INTERFACE_xdm</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element type="xsd:string" name="P_TRX_NUMBER"/>
            <xsd:element type="xsd:string" name="P_RFC"/>
            <xsd:element name="Q_CUSTOMER">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element type="xsd:string" name="RFC"/>
                     <xsd:element type="xsd:string" name="PARTY_NAME"/>
                     <xsd:element type="xsd:short" name="PARTY_NUMBER"/>
                     <xsd:element type="xsd:long" name="PARTY_ID"/>
                     <xsd:element type="xsd:short" name="ACCOUNT_NUMBER"/>
                     <xsd:element type="xsd:long" name="CUST_ACCOUNT_ID"/>
                     <xsd:element type="xsd:long" name="CUST_ACCT_SITE_ID"/>
                     <xsd:element type="xsd:short" name="PARTY_SITE_NUMBER"/>
                     <xsd:element type="xsd:long" name="SITE_USE_ID"/>
                     <xsd:element type="xsd:string" name="SITE_USE_CODE"/>
                     <xsd:element type="xsd:string" name="PRIMARY_FLAG"/>
                     <xsd:element type="xsd:short" name="LOCATION"/>
                     <xsd:element type="xsd:long" name="LOCATION_ID"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="G_1" maxOccurs="unbounded" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element type="xsd:string" name="STATUS"/>
                     <xsd:element type="xsd:string" name="TRX_NUMBER"/>
                     <xsd:element type="xsd:long" name="ORG_ID"/>
                     <xsd:element type="xsd:string" name="MESSAGE_TEXT" minOccurs="0"/>
                     <xsd:element type="xsd:string" name="INVALID_VALUE" minOccurs="0"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
