InerInvoicesEnt/SOA/Schemas/StructureTrxInterface.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://soa.estrellaroja.com.mx/StructureTrxInterface" targetNamespace="http://soa.estrellaroja.com.mx/StructureTrxInterface" elementFormDefault="qualified">
   <xsd:element name="DATA_DS">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="P_RFC" type="xsd:string"/>
            <xsd:element name="Q_CUSTOMER" maxOccurs="unbounded" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="RFC" type="xsd:string"/>
                     <xsd:element name="PARTY_NAME" type="xsd:string"/>
                     <xsd:element name="PARTY_NUMBER" type="xsd:integer"/>
                     <xsd:element name="PARTY_ID" type="xsd:integer"/>
                     <xsd:element name="ACCOUNT_NUMBER" type="xsd:integer"/>
                     <xsd:element name="CUST_ACCOUNT_ID" type="xsd:integer"/>
                     <xsd:element name="CUST_ACCT_SITE_ID" type="xsd:integer"/>
                     <xsd:element name="PARTY_SITE_NUMBER" type="xsd:integer"/>
                     <xsd:element name="SITE_USE_ID" type="xsd:integer"/>
                     <xsd:element name="SITE_USE_CODE" type="xsd:string"/>
                     <xsd:element name="PRIMARY_FLAG" type="xsd:string"/>
                     <xsd:element name="LOCATION" type="xsd:integer"/>
                     <xsd:element name="LOCATION_ID" type="xsd:integer"/>
                     <xsd:element name="PAYMENT_TERMS" type="xsd:string"/>
                     <xsd:element type="xsd:integer" name="ORGANIZATION_ID"/>
                     <xsd:element type="xsd:string" name="NAME"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="DATA_DS_">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="G_COMPLEMENTS" maxOccurs="unbounded" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="P_RFC" type="xsd:string"/>
                     <xsd:element name="Q_CUSTOMER">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="RFC" type="xsd:string"/>
                              <xsd:element name="PARTY_NAME" type="xsd:string"/>
                              <xsd:element name="PARTY_NUMBER" type="xsd:integer"/>
                              <xsd:element name="PARTY_ID" type="xsd:integer"/>
                              <xsd:element name="ACCOUNT_NUMBER" type="xsd:integer"/>
                              <xsd:element name="CUST_ACCOUNT_ID" type="xsd:integer"/>
                              <xsd:element name="CUST_ACCT_SITE_ID" type="xsd:integer"/>
                              <xsd:element name="PARTY_SITE_NUMBER" type="xsd:integer"/>
                              <xsd:element name="SITE_USE_ID" type="xsd:integer"/>
                              <xsd:element name="SITE_USE_CODE" type="xsd:string"/>
                              <xsd:element name="PRIMARY_FLAG" type="xsd:string"/>
                              <xsd:element name="LOCATION" type="xsd:integer"/>
                              <xsd:element name="LOCATION_ID" type="xsd:integer"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="DATA_DS_INV">
      <xsd:annotation>
         <xsd:documentation>Generated by Oracle BI Publisher 11.1.1.9.0 -Dataengine, datamodel:_Custom_ER_INTEGRATION_ER01_AR_Creacion_de_transacciones_Data_Models_XXER_AR_TRX_INTERFACE_xdm</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element type="xsd:string" name="P_TRX_NUMBER"/>
            <xsd:element type="xsd:string" name="P_RFC"/>
            <xsd:element name="Q_CUSTOMER" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element type="xsd:string" name="RFC"/>
                     <xsd:element type="xsd:string" name="PARTY_NAME"/>
                     <xsd:element type="xsd:integer" name="PARTY_NUMBER"/>
                     <xsd:element type="xsd:integer" name="PARTY_ID"/>
                     <xsd:element type="xsd:integer" name="ACCOUNT_NUMBER"/>
                     <xsd:element type="xsd:integer" name="CUST_ACCOUNT_ID"/>
                     <xsd:element type="xsd:integer" name="CUST_ACCT_SITE_ID"/>
                     <xsd:element type="xsd:integer" name="PARTY_SITE_NUMBER"/>
                     <xsd:element type="xsd:integer" name="SITE_USE_ID"/>
                     <xsd:element type="xsd:string" name="SITE_USE_CODE"/>
                     <xsd:element type="xsd:string" name="PRIMARY_FLAG"/>
                     <xsd:element type="xsd:integer" name="LOCATION"/>
                     <xsd:element type="xsd:integer" name="LOCATION_ID"/>
                     <xsd:element type="xsd:string" name="PAYMENT_TERMS"/>
                     <xsd:element type="xsd:integer" name="ORGANIZATION_ID"/>
                     <xsd:element type="xsd:string" name="NAME"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="STATUS_LOAD_INVOICES" maxOccurs="unbounded" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element type="xsd:string" name="STATUS" minOccurs="0"/>
                     <xsd:element type="xsd:string" name="TRX_NUMBER"/>
                     <xsd:element type="xsd:string" name="MESSAGE_TEXT" minOccurs="0"/>
                     <xsd:element type="xsd:string" name="INVALID_VALUE" minOccurs="0"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="DATA_TRX_NUM">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="TRX_NUMBER" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="IntegerHelper" type="xsd:integer"/>
   <xsd:element name="StringHelper">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="ListValues" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="value" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="ParamsInterfaceControl">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Params" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Params" type="xsd:string" minOccurs="1"/>
                     <xsd:element name="Values" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="DATA_INTER_CTRL">
      <xsd:annotation>
         <xsd:documentation>Generated by Oracle BI Publisher 11.1.1.9.0 -Dataengine, datamodel:_Custom_ER_INTEGRATION_Commons_Data_Models_XXER_FND_INTERFACE_CONTROL_xdm</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element type="xsd:string" name="P_LOAD_REQUEST_ID"/>
            <xsd:element type="xsd:string" name="P_TYPE_INTERFACES"/>
            <xsd:element type="xsd:string" name="P_BATCH_ID"/>
            <xsd:element name="G_HEADER" maxOccurs="unbounded" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element type="xsd:string" name="STATUS"/>
                     <xsd:element type="xsd:string" name="INTERFACETYPE"/>
                     <xsd:element type="xsd:string" name="BATCHID"/>
                     <xsd:element type="xsd:int" name="HEADERID"/>
                     <xsd:element type="xsd:int" name="LINEID"/>
                     <xsd:element type="xsd:string" name="ERRORMSG"/>
                     <xsd:element type="xsd:string" name="DATAVALUE"/>
                     <xsd:element type="xsd:int" name="LOADREQUESTID"/>
                     <xsd:element type="xsd:string" name="REQUESTID"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="DATA_CUSTTRXID_DS">
      <xsd:annotation>
         <xsd:documentation>Generated by Oracle BI Publisher 11.1.1.9.0 -Dataengine, datamodel:_Custom_ER_INTEGRATION_ER01_AR_Creacion_de_transacciones_Data_Models_XXER_AR_TRX_INTRF_CUST_TRX_ID_xdm</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element type="xsd:long" name="P_ORG_ID"/>
            <xsd:element type="xsd:string" name="P_TRX_NUMBER"/>
            <xsd:element name="G_CUST_TRX_ID">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element type="xsd:long" name="CUSTOMER_TRX_ID"/>
                     <xsd:element type="xsd:string" name="TRX_NUMBER"/>
                     <xsd:element type="xsd:string" name="ATTRIBUTE3"/>
                     <xsd:element type="xsd:long" name="ORG_ID"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="ParamsToGetOrgId">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Params" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="TrxNumber" type="xsd:string" minOccurs="1"/>
                     <xsd:element name="Status" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="ParamsToUpdateUuid">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Params" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="TrxNumber" type="xsd:string" minOccurs="1"/>
                     <xsd:element name="OrgId" type="xsd:string"/>
                     <xsd:element name="UUID" type="xsd:string"/>
                     <xsd:element name="CUSTOMER_TRX_ID" type="xsd:long"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="ParamsToGenerateReport">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Params" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Params" type="xsd:string" minOccurs="1"/>
                     <xsd:element name="Values" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="ResultUpdateUuId">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="elements" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="TrxNumber" type="xsd:string" minOccurs="1"/>
                     <xsd:element name="UuId" type="xsd:string"/>
                     <xsd:element name="Status" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="ParamsToUpdateStatusInvoicesToBD">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="elements" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="BatchId" type="xsd:string"/>
                     <xsd:element name="TrxNumber" type="xsd:string"/>
                     <xsd:element name="Status" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="ListZipFiles">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="ListZipFilesReturn" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="ContentBase64" type="xsd:base64Binary"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="ListBusAndOrgId">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="List" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="BuName" type="xsd:string"/>
                     <xsd:element name="OrgId" type="xsd:decimal"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
