InvoicesBiz/SOA/Schemas/InvoicesToCsv.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:tns="http://soa.estrellaroja.com.mx/InvoicesBiz" targetNamespace="http://soa.estrellaroja.com.mx/InvoicesBiz" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:stream="chars" nxsd:encoding="US-ASCII">
   <xsd:element name="invoicesToCsv">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="InvoicesList" minOccurs="1" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Notes_from_Source" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Transaction_Batch_Source_Name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Transaction_Type_Name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Payment_Terms" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Transaction_Date" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Accounting_Date" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Transaction_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Original_System_Bill_to_Customer_Reference" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Original_System_Bill_to_Customer_Address_Reference" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Original_System_Bill_to_Customer_Contact_Reference" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Original_System_Ship_to_Customer_Reference" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Original_System_Ship_to_Customer_Address_Reference" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Original_System_Ship_to_Customer_Contact_Reference" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Original_System_Ship_to_Customer_Account_Reference" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Original_System_Ship_to_Customer_Account_Address_Reference" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Original_System_Ship_to_Customer_Account_Contact_Reference" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Original_System_Sold_to_Customer_Reference" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Original_System_Sold_to_Customer_Account_Reference" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Bill_to_Customer_Account_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Bill_to_Customer_Site_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Bill_to_Contact_Party_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Ship_to_Customer_Account_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Ship_to_Customer_Site_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Ship_to_Contact_Party_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Sold_to_Customer_Account_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Transaction_Line_Type" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Transaction_Line_Description" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Currency_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Currency_Conversion_Type" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Currency_Conversion_Date" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Currency_Conversion_Rate" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Transaction_Line_Amount" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Transaction_Line_Quantity" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Customer_Ordered_Quantity" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Unit_Selling_Price" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Unit_Standard_Price" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Transactions_Flexfield_Context" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Transactions_Flexfield_Segment_1" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Transactions_Flexfield_Segment_2" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Transactions_Flexfield_Segment_3" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Transactions_Flexfield_Segment_4" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Transactions_Flexfield_Segment_5" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Transactions_Flexfield_Segment_6" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Transactions_Flexfield_Segment_7" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Transactions_Flexfield_Segment_8" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Transactions_Flexfield_Segment_9" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Transactions_Flexfield_Segment_10" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Transactions_Flexfield_Segment_11" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Transactions_Flexfield_Segment_12" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Transactions_Flexfield_Segment_13" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Transactions_Flexfield_Segment_14" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Transactions_Flexfield_Segment_15" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Primary_Salesperson_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Tax_Classification_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Legal_Entity_Identifier" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Accounted_Amount_in_Ledger_Currency" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Sales_Order_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Sales_Order_Date" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Actual_Ship_Date" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Warehouse_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Unit_of_Measure_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Unit_of_Measure_Name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoicing_Rule_Name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Revenue_Scheduling_Rule_Name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Number_of_Revenue_Periods" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Revenue_Scheduling_Rule_Start_Date" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Revenue_Scheduling_Rule_End_Date" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Reason_Code_Meaning" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Last_Period_to_Credit" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Transaction_Business_Category_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Product_Fiscal_Classification_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Product_Category_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Product_Type" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Intended_Use_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Assessable_Value" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Document_Sub_Type" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Default_Taxation_Country" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="User_Defined_Fiscal_Classification" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Tax_Invoice_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Tax_Invoice_Date" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Tax_Regime_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Tax" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Tax_Status_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Tax_Rate_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Tax_Jurisdiction_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="First_Party_Registration_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Third_Party_Registration_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Final_Discharge_Location" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Taxable_Amount" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Taxable_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Tax_Exemption_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="TTax_Exemption_Reason_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Tax_Exemption_Reason_Code_Meaning" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Tax_Exemption_Certificate_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Amount_Includes_Tax_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Tax_Precedence" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Credit_Method_To_Be_Used_For_Lines_With_Revenue_Scheduling_Rules" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Credit_Method_To_Be_Used_For_Transactions_With_Split_Payment_Terms" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Reason_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Tax_Rate" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="FOB_Point" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Carrier" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Shipping_Reference" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Sales_Order_Line_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Sales_Order_Source" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Sales_Order_Revision_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Purchase_Order_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Purchase_Order_Revision_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Purchase_Order_Date" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Agreement_Name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Memo_Line_Name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Document_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Original_System_Batch_Name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_to_Transactions_Flexfield_Context" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_to_Transactions_Flexfield_Segment_1" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_to_Transactions_Flexfield_Segment_2" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_to_Transactions_Flexfield_Segment_3" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_to_Transactions_Flexfield_Segment_4" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_to_Transactions_Flexfield_Segment_5" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_to_Transactions_Flexfield_Segment_6" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_to_Transactions_Flexfield_Segment_7" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_to_Transactions_Flexfield_Segment_8" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_to_Transactions_Flexfield_Segment_9" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_to_Transactions_Flexfield_Segment_10" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_to_Transactions_Flexfield_Segment_11" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_to_Transactions_Flexfield_Segment_12" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_to_Transactions_Flexfield_Segment_13" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_to_Transactions_Flexfield_Segment_14" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_to_Transactions_Flexfield_Segment_15" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Reference_Transactions_Flexfield_Context" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Reference_Transactions_Flexfield_Segment_1" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Reference_Transactions_Flexfield_Segment_2" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Reference_Transactions_Flexfield_Segment_3" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Reference_Transactions_Flexfield_Segment_4" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Reference_Transactions_Flexfield_Segment_5" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Reference_Transactions_Flexfield_Segment_6" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Reference_Transactions_Flexfield_Segment_7" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Reference_Transactions_Flexfield_Segment_8" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Reference_Transactions_Flexfield_Segment_9" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Reference_Transactions_Flexfield_Segment_10" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Reference_Transactions_Flexfield_Segment_11" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Reference_Transactions_Flexfield_Segment_12" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Reference_Transactions_Flexfield_Segment_13" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Reference_Transactions_Flexfield_Segment_14" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Reference_Transactions_Flexfield_Segment_15" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_To_Parent_Line_Context" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_To_Parent_Line_Segment_1" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_To_Parent_Line_Segment_2" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_To_Parent_Line_Segment_3" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_To_Parent_Line_Segment_4" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_To_Parent_Line_Segment_5" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_To_Parent_Line_Segment_6" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_To_Parent_Line_Segment_7" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_To_Parent_Line_Segment_8" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_To_Parent_Line_Segment_9" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_To_Parent_Line_Segment_10" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_To_Parent_Line_Segment_11" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_To_Parent_Line_Segment_12" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_To_Parent_Line_Segment_13" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_To_Parent_Line_Segment_14" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Link_To_Parent_Line_Segment_15" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receipt_Method_Name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Printing_Option" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Related_Batch_Source_Name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Related_Transaction_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Inventory_Item_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Inventory_Item_Segment_2" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Inventory_Item_Segment_3" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Inventory_Item_Segment_4" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Inventory_Item_Segment_5" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Inventory_Item_Segment_6" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Inventory_Item_Segment_7" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Inventory_Item_Segment_8" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Inventory_Item_Segment_9" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Inventory_Item_Segment_10" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Inventory_Item_Segment_11" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Inventory_Item_Segment_12" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Inventory_Item_Segment_13" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Inventory_Item_Segment_14" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Inventory_Item_Segment_15" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Inventory_Item_Segment_16" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Inventory_Item_Segment_17" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Inventory_Item_Segment_18" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Inventory_Item_Segment_19" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Inventory_Item_Segment_20" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Bill_To_Customer_Bank_Account_Name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Reset_Transaction_Date_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Payment_Server_Order_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Last_Transaction_on_Debit_Authorization" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Approval_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Address_Verification_Code" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Transaction_Line_Translated_Description" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Consolidated_Billing_Number" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Promised_Commitment_Amount" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Payment_Set_Identifier" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Original_Accounting_Date" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoiced_Line_Accounting_Level" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Override_AutoAccounting_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Historical_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Deferral_Exclusion_Flag" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Payment_Attributes" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Billing_Date" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Lines_Flexfield_Context" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Lines_Flexfield_Segment_1" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Lines_Flexfield_Segment_2" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Lines_Flexfield_Segment_3" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Lines_Flexfield_Segment_4" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Lines_Flexfield_Segment_5" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Lines_Flexfield_Segment_6" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Lines_Flexfield_Segment_7" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Lines_Flexfield_Segment_8" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Lines_Flexfield_Segment_9" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Lines_Flexfield_Segment_10" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Lines_Flexfield_Segment_11" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Lines_Flexfield_Segment_12" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Lines_Flexfield_Segment_13" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Lines_Flexfield_Segment_14" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Lines_Flexfield_Segment_15" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Transactions_Flexfield_Context" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Transactions_Flexfield_Segment_1" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Transactions_Flexfield_Segment_2" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Transactions_Flexfield_Segment_3" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Transactions_Flexfield_Segment_4" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Transactions_Flexfield_Segment_5" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Transactions_Flexfield_Segment_6" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Transactions_Flexfield_Segment_7" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Transactions_Flexfield_Segment_8" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Transactions_Flexfield_Segment_9" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Transactions_Flexfield_Segment_10" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Transactions_Flexfield_Segment_11" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Transactions_Flexfield_Segment_12" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Transactions_Flexfield_Segment_13" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Transactions_Flexfield_Segment_14" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Invoice_Transactions_Flexfield_Segment_15" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Context" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_1" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_2" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_3" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_4" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_5" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_6" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_7" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_8" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_9" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_10" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_11" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_12" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_13" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_14" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_15" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_16" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_17" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_18" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_19" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_20" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_21" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_22" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_23" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_24" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_25" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_26" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_27" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_28" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_29" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Receivables_Transaction_Region_Information_Flexfield_Segment_30" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Attribute_Category" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Segment_1" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Segment_2" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Segment_3" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Segment_4" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Segment_5" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Segment_6" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Segment_7" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Segment_8" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Segment_9" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Segment_10" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Segment_11" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Segment_12" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Segment_13" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Segment_14" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Segment_15" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Segment_16" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Segment_17" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Segment_18" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Segment_19" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Line_Global_Descriptive_Flexfield_Segment_20" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Business_Unit_Name" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Comments" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Enforce_Chronological_Document_Sequencing" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="Aux" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="," nxsd:quotedBy="&quot;"/>
                     <xsd:element name="C291" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}" nxsd:quotedBy="&quot;"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=C:\Users\EdgarCP\Documents\Condor\2017\Diciembre\Semana 3\Jueves\comprimidos\RaInterfaceLinesAll.csv</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>
