ConciliationBiz/SOA/WSDLs/External/IConciliationSpringBiz.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="IConciliationSpringBiz"
     targetNamespace="http://conciliationspringbiz.soa.estrellaroja.com.mx/"
     xmlns:tns="http://conciliationspringbiz.soa.estrellaroja.com.mx/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:ns0="http://soa.estrellaroja.com.mx/ConciliationSpringBiz/Types" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://soa.estrellaroja.com.mx/ConciliationSpringBiz/Types"
             elementFormDefault="qualified">
            <xsd:complexType name="GetPaymentsCashPageRqType">
                <xsd:sequence>
                    <xsd:element name="Page" type="ns0:GetPaymentsCashRqType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GetPaymentsCashRqType">
                <xsd:sequence>
                    <xsd:element name="Payments" type="ns0:PaymentType" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PaymentType">
                <xsd:sequence>
                    <xsd:element name="ReceiptMethod" type="xsd:string" nillable="true"/>
                    <xsd:element name="PaymentReference" type="xsd:string" nillable="true"/>
                    <xsd:element name="PaymentDate" type="xsd:string" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://conciliationspringbiz.soa.estrellaroja.com.mx/" xmlns:tns="http://conciliationspringbiz.soa.estrellaroja.com.mx/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://soa.estrellaroja.com.mx/ConciliationSpringBiz/Types">
            <xsd:import namespace="http://soa.estrellaroja.com.mx/ConciliationSpringBiz/Types"/>
            <xsd:complexType name="GetPaymentsCashPage">
                <xsd:sequence>
                    <xsd:element name="arg0" type="ns1:GetPaymentsCashRqType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="GetPaymentsCashPage" type="tns:GetPaymentsCashPage"/>
            <xsd:complexType name="GetPaymentsCashPageResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="ns1:GetPaymentsCashPageRqType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="GetPaymentsCashPageResponse" type="tns:GetPaymentsCashPageResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetPaymentsCashPageInput">
        <wsdl:part name="parameters" element="tns:GetPaymentsCashPage"/>
    </wsdl:message>
    <wsdl:message name="GetPaymentsCashPageOutput">
        <wsdl:part name="parameters" element="tns:GetPaymentsCashPageResponse"/>
    </wsdl:message>
    <wsdl:portType name="IConciliationSpringBiz">
        <wsdl:operation name="GetPaymentsCashPage">
            <wsdl:input message="tns:GetPaymentsCashPageInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:GetPaymentsCashPageOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
