ERPIntegrationBiz/SOA/WSDLs/bpelImportToERPCloud.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="bpelImportToERPCloud" targetNamespace="http://soa.estrellaroja.com.mx/ERPIntegrationBiz/bpelImportToERPCloud" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://soa.estrellaroja.com.mx/ERPIntegrationBiz/bpelImportToERPCloud" xmlns:ns1="http://soa.estrellaroja.com.mx/ERPIntegrationBiz" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
   <plnk:partnerLinkType name="bpelImportToERPCloud">
      <plnk:role name="bpelImportToERPCloudProvider" portType="client:bpelImportToERPCloud"/>
      <plnk:role name="bpelImportToERPCloudRequester" portType="client:bpelImportToERPCloudCallback"/>
   </plnk:partnerLinkType>
   <wsdl:import namespace="http://soa.estrellaroja.com.mx/ERPIntegrationBiz" location="oramds:/apps/SOA/ERPIntegrationBiz/ERPIntegrationBiz.wsdl"/>
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://soa.estrellaroja.com.mx/ERPIntegrationBiz/bpelImportToERPCloud" xmlns:ns1="http://soa.estrellaroja.com.mx/ERPIntegrationBiz" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
         <import namespace="http://soa.estrellaroja.com.mx/ERPIntegrationBiz" schemaLocation="oramds:/apps/SOA/ERPIntegrationBiz/ERPIntegrationBiz.xsd"/>
      </schema>
   </wsdl:types>
   <wsdl:message name="bpelImportToERPCloudRequestMessage">
      <wsdl:part name="payload" element="ns1:ImportToERPCloudRq"/>
   </wsdl:message>
   <wsdl:message name="bpelImportToERPCloudResponseMessage">
      <wsdl:part name="payload" element="ns1:ImportToERPCloudRs"/>
   </wsdl:message>
   <wsdl:portType name="bpelImportToERPCloud">
      <wsdl:operation name="ImportToERPCloud">
         <wsdl:input message="client:bpelImportToERPCloudRequestMessage"/>
         <wsdl:output message="client:bpelImportToERPCloudResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:portType name="bpelImportToERPCloudCallback">
      <wsdl:operation name="ImportToERPCloudResponse">
         <wsdl:input message="client:bpelImportToERPCloudResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>
