ReceiptEnt/SOA/Schemas/StructureTrxCust.xsd

<?xml version='1.0' encoding='windows-1252'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://soa.estrellaroja.com.mx/StructureTrxCust" targetNamespace="http://soa.estrellaroja.com.mx/StructureTrxCust" elementFormDefault="qualified">
   <xsd:element name="DATA_DS">
      <xsd:annotation>
         <xsd:documentation>Generated by Oracle BI Publisher 11.1.1.9.0 -Dataengine, datamodel:_Custom_ER_INTEGRATION_ER05_AR_Creacion_de_recibos_Data_Models_XXER_AR_CUST_TRX_INTERFACE_xdm</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element type="xsd:string" name="TRXNUMBER"/>
            <xsd:element type="xsd:decimal" name="ORGID"/>
            <xsd:element type="xsd:decimal" name="CUSTOMERID"/>
            <xsd:element name="CUSTOMER_TRX">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element type="xsd:decimal" name="CUSTOMER_TRX_ID"/>
                     <xsd:element type="xsd:string" name="UUID"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="ORG_UNIT">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element type="xsd:string" name="BUSINESS_UNIT"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="countTrxElement" type="countTrxType"/>
   <xsd:complexType name="countTrxType">
      <xsd:sequence>
         <xsd:element name="countTrx" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
