CFDITec/SOA/SCA-INF/classes/SOA/Schemas/DB_SOA_CLOUD.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/DB_SOA_CLOUD" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/DB_SOA_CLOUD" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="UpdateStatusSFTPRq" type="UpdateStatusSFTPRq_type"/>
   <xs:complexType name="UpdateStatusSFTPRq_type">
      <xs:sequence>
         <xs:element name="ESTATUS_DESCARGA_SFTP" type="xs:string" nillable="true"/>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
