ConciliationBiz/SOA/SCA-INF/classes/mx/com/estrellaroja/soa/conciliationspringbiz/types/soa.estrellaroja.com.mx_ConciliationSpringBiz_Types/GetPaymentsCashPageRqTypeSDO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ns0="http://soa.estrellaroja.com.mx/ConciliationSpringBiz/Types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soa.estrellaroja.com.mx/ConciliationSpringBiz/Types" elementFormDefault="qualified">
   <xsd:complexType name="GetPaymentsCashPageRqType">
      <xsd:sequence>
         <xsd:element name="Page" type="ns0:GetPaymentsCashRqType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GetPaymentsCashRqType">
      <xsd:sequence>
         <xsd:element name="Payments" type="ns0:PaymentType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PaymentType">
      <xsd:sequence>
         <xsd:element name="ReceiptMethod" type="xsd:string" nillable="true"/>
         <xsd:element name="PaymentReference" type="xsd:string" nillable="true"/>
         <xsd:element name="PaymentDate" type="xsd:string" nillable="true"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
