InerReceiptEnt/SOA/Schemas/StructureTrxCust.xsd

<?xml version='1.0' encoding='windows-1252'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://soa.estrellaroja.com.mx/StructureTrxCust" targetNamespace="http://soa.estrellaroja.com.mx/StructureTrxCust" elementFormDefault="qualified">
   <xsd:element name="DATA_DS">
      <xsd:annotation>
         <xsd:documentation>Generated by Oracle BI Publisher 11.1.1.9.0 -Dataengine, datamodel:_Custom_ER_INTEGRATION_ER05_AR_Creacion_de_recibos_Data_Models_XXER_AR_CUST_TRX_INTERFACE_xdm</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="CUSTOMER_TRX" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element type="xsd:string" name="ID_TRX"/>
                     <xsd:element type="xsd:string" name="UUID"/>
                     <xsd:element type="xsd:string" name="BUSINESS_UNIT"/>
                     <xsd:element type="xsd:string" name="CUSTOMER_ID"/>
                     <xsd:element type="xsd:string" name="ORGANIZATION_ID"/>
                     <xsd:element type="xsd:string" name="TRX_NUMBER"/>
                     <xsd:element type="xsd:string" name="EXTENDED_AMOUNT"/>
                     <xsd:element type="xsd:string" name="AMOUNT_APPLIED"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="countTrxElement" type="countTrxType"/>
   <xsd:complexType name="countTrxType">
      <xsd:sequence>
         <xsd:element name="countTrx" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="TrxsElement" type="TrxsElementType"/>
   <xsd:complexType name="TrxsElementType">
      <xsd:sequence>
         <xsd:element name="Element" type="ElementType" maxOccurs="unbounded" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="Element" type="ElementType"/>
   <xsd:complexType name="ElementType">
      <xsd:sequence>
         <xsd:element name="Trx" maxOccurs="unbounded" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="AMOUNT" type="xsd:decimal"/>
                  <xsd:element name="RECEIPT_ID" type="xsd:decimal"/>
                  <xsd:element name="RECEIPT_NUMBER" type="xsd:string"/>
                  <xsd:element name="TRANSACTION_NUMBER" type="xsd:string"/>
                  <xsd:element name="CUSTOMER_NAME" type="xsd:string"/>
                  <xsd:element name="APPLICATION_DATE" type="xsd:dateTime"/>
                  <xsd:element name="ACCOUNTING_DATE" type="xsd:dateTime"/>
                  <xsd:element name="CUST_ACCOUNT_ID" type="xsd:decimal"/>
                  <xsd:element name="ORGANIZATION_ID" type="xsd:decimal"/>
                  <xsd:element name="CUSTOMER_TRX_ID" type="xsd:decimal"/>
                  <xsd:element name="UUID" type="xsd:string"/>
                  <xsd:element name="BUSINESS_UNIT" type="xsd:string"/>
                  <xsd:element name="METODO_RECIBO" type="xsd:string"/>
                  <xsd:element name="RECEIPT_APPLY_ID" type="xsd:decimal"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
