InerReceiptEnt/SOA/Schemas/StructureCash.xsd

<?xml version='1.0' encoding='windows-1252'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://soa.estrellaroja.com.mx/StructureCash" targetNamespace="http://soa.estrellaroja.com.mx/StructureCash" elementFormDefault="qualified">
   <xsd:element name="DATA_DS">
      <xsd:annotation>
         <xsd:documentation>Generated by Oracle BI Publisher 11.1.1.9.0 -Dataengine, datamodel:_Custom_ER_INTEGRATION_Data_Models_XXER_AR_CASH_INTERFACE_xdm</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element type="xsd:string" name="P_RFC"/>
            <xsd:element name="Q_CUSTOMER" maxOccurs="unbounded" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element type="xsd:string" name="RFC"/>
                     <xsd:element type="xsd:string" name="PARTY_NAME"/>
                     <xsd:element type="xsd:string" name="PARTY_NUMBER"/>
                     <xsd:element type="xsd:integer" name="PARTY_ID"/>
                     <xsd:element type="xsd:string" name="ACCOUNT_NUMBER"/>
                     <xsd:element type="xsd:integer" name="CUST_ACCOUNT_ID"/>
                     <xsd:element type="xsd:integer" name="CUST_ACCT_SITE_ID"/>
                     <xsd:element type="xsd:string" name="PARTY_SITE_NUMBER"/>
                     <xsd:element type="xsd:integer" name="SITE_USE_ID"/>
                     <xsd:element type="xsd:string" name="SITE_USE_CODE"/>
                     <xsd:element type="xsd:string" name="PRIMARY_FLAG"/>
                     <xsd:element type="xsd:string" name="LOCATION"/>
                     <xsd:element type="xsd:integer" name="LOCATION_ID"/>
                     <xsd:element type="xsd:integer" name="ORGANIZATION_ID"/>
                     <xsd:element type="xsd:string" name="NAME"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
